
/* dashboard css */
body, html{
    font-family: 'Poppins', sans-serif;
    background-color: #0E0E0E;
    color: white;
    height: 100%;
}
#side_nav{
    background: #212529;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.content{
    min-height: 100vh;
    width: 100%;
}

/* .sidebar .header-box i{
    font-size: 20px;
} */

hr.h-colour{
background: #eee;
}

.sidebar li.active{
    background: #c386fc;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: #c386fc;
}

.sidebar li a{
    color: #eee;
}
/* #side_nav{
    display: block;
} */

@media screen and (max-width: 767px){
    /* #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    } */

    #side_nav{
        display: none;
    }
}